<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>url-shortner</title>
</head>

<body>
  <div class="container-fluid">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let url of urldb'>
          <td><a href="{url.long}}">{{url.long}}</a></td>
          <td><a href="{{url.long}}">{{url.short}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>
